/*
  ========================================
  All
  ========================================
*/

* {margin: 0 ; padding: 0;}


/*
  ========================================
  Body
  ========================================
*/

body {
    background: #f0f1ea;
    color: turquoise;
    font: 400 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

/*
  ========================================
  Title
  ========================================
*/
.title {
    text-align: center;
    text-decoration: underline;
    margin: 36px 36px;
    font-size: 50px;
}

/*
  ========================================
  Form
  ========================================
*/
form {
    margin-top: 50px;
    margin-bottom: 50px;

}

/*
  ========================================
  body
  ========================================
*/

body {
    background: #f0f1ea;
    color: turquoise;
    font: 400 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

/*
  ========================================
  Container
  ========================================
*/

.container {
  text-align: center;
    
}

.item-container{
  text-align: center;
  
}

/*
  ========================================
  Input
  ========================================
*/
#ItemInput {
    padding: 5px 5px;
    width: 600px;
    border: solid;
    border-radius: 5px;
    height: 20px;
    border-color: turquoise;
}

#ItemInput:focus {
    box-shadow: 0 0 8px 0 turquoise;
}

/*
  ========================================
  Buttons
  ========================================
*/

.main-button {
    width: 100px;
    border: solid;
    border-radius: 5px;
    padding: 6px 7px;
    border-color: turquoise;
    color: turquoise;
    font-weight: 15px;
    font-size: 15px
}

.clear-button {

    width: 150px;
    border: solid;
    border-radius: 5px;
    padding: 6px 7px;
    border-color: turquoise;
    color: turquoise;
    font-weight: 15px;
    font-size: 20px;
    margin-top: 30px

}

.main-button:hover, .clear-button:hover {
    cursor: pointer;
    box-shadow: 0 0 8px 0 turquoise;
}

/*
  ========================================
  List
  ========================================
*/

ul {
  font-size: 20px;
  list-style: none;
}

li {
  margin-top: 10px;
}

.item {
  width: 710px;
  margin-left: auto;
  margin-right: auto;
  display:flex;
  justify-content: space-between;
}

/*
  ========================================
  Text
  ========================================
*/
.text {
  color: #000000;
}

/*
  ========================================
  Icons
  ========================================
*/
.fa-check-circle {
  color: #06df06;
  font-size: 25px;
  margin-right: 5px;
}
.fa-times-circle {
  color: #a71414;
  font-size: 25px;
  margin-right: 5px;
}
.fa-check-circle:hover, .fa-times-circle:hover {
  cursor: pointer;
}


